In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
np.arange(1,10).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
df = pd.DataFrame({'A': [1, 'apple', 3, 4, 'banana'], 'B': [5, 6, 7, 8, 9]})
df

0         1
1     apple
2         3
3         4
4    banana
Name: A, dtype: object