## Exercise 3: Grouping (Users)

In [1]:
import pandas as pd
import numpy as np
users = pd.read_csv('users.txt', sep = '\t')
users

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

In [9]:
# Create a DataFrame from the dataset
df = pd.DataFrame(users)

# Group by 'Occupation' and calculate mean age for each group
mean_age_per_occupation = df.groupby('occupation')['age'].mean()
# Execution Error - Think the users.txt has a problem.

print(mean_age_per_occupation)

KeyError: 'occupation'

## Exercise 4: Merge (All_data, All_data_col, Data3)

In [10]:
# Raw data
raw_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'Occupation': ['Engineer', 'Manager', 'Designer']
}

# Define data1, data2, and data3 based on raw data
data1 = pd.DataFrame(raw_data)
data2 = pd.DataFrame({
    'Name': ['David', 'Eve'],
    'Age': [22, 35],
    'Occupation': ['Analyst', 'Artist']
})
data3 = pd.DataFrame({
    'Name': ['Frank', 'Grace'],
    'Age': [40, 29],
    'Occupation': ['Director', 'Writer']
})

# Merge data1 and data2 along rows using concat()
all_data = pd.concat([data1, data2], ignore_index=True)

# Merge data1 and data2 along columns using concat()
all_data_col = pd.concat([data1, data2], axis=1)

print("Merged Data along rows:")
print(all_data)

print("\nMerged Data along columns:")
print(all_data_col)

Merged Data along rows:
      Name  Age Occupation
0    Alice   25   Engineer
1      Bob   30    Manager
2  Charlie   28   Designer
3    David   22    Analyst
4      Eve   35     Artist

Merged Data along columns:
      Name  Age Occupation   Name   Age Occupation
0    Alice   25   Engineer  David  22.0    Analyst
1      Bob   30    Manager    Eve  35.0     Artist
2  Charlie   28   Designer    NaN   NaN        NaN

In [11]:
# Load the Iris dataset
file_path = 'iris.txt'  # Replace with the actual path to your dataset
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv(file_path, names=column_names)

# Check for missing values using isnull()
missing_values = iris.isnull().sum()

print("Missing values in Iris dataset:")
print(missing_values)

Missing values in Iris dataset:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [12]:
# Data dictionary
data_dict = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

# Convert data dictionary into a DataFrame named 'pokemon'
pokemon = pd.DataFrame(data_dict)

# Rearrange columns using DataFrame indexing
rearranged_columns = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[rearranged_columns]

print("DataFrame 'pokemon' with rearranged columns:")
print(pokemon)

DataFrame 'pokemon' with rearranged columns:
         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

# EXERCISE 7: FILE HAS AN ERROR

# EXERCISE 8: Handling Time Series Data (Investor_data)

In [24]:
import pandas as pd
from io import StringIO

# Raw data in CSV format
raw_data = funds.txt
raw_data

# Create a DataFrame from the raw data
funding = pd.read_csv(StringIO(raw_data), parse_dates=['Date'])

# Set 'Date' as the index of the DataFrame
funding.set_index('Date', inplace=True)

# Determine the frequency of the dataset
frequency = pd.infer_freq(funding.index)

print("DataFrame 'funding' with 'Date' as index:")
print(funding)

print("\nFrequency of the dataset:")
print(frequency)
# Don't understand error.

NameError: name 'funds' is not defined